.dash-nav {
    top: 0;
    width: 100%;
    background-color:silver !important;
    z-index: 10;
}

.btnBack button {
    background-color:darksalmon;
    border: 1px solid #555555;
    border-radius: 2px;
}

.navbar .container-fluid {
    justify-content: left !important;
}

@media (max-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row !important;
    }
}