.welcome {
    font-size: large;
    display: flex;
    margin-right: 10px;
    justify-content: flex-start;
    // margin-left: 2%;
}

.welcome span {
    font-style: italic;
    margin-left: 5px;
    color: mediumaquamarine;
    font-weight: 500;
}

.dashCard {
    display: flex;
    flex-direction: column;
    padding: inherit;
}

.card-header {
    font-weight: bold;
}

.cardBodyButton {
    text-align: center;
}
// .card-header {
//     width: 45%;
// }