<app-header></app-header>
<!-- HEADER ABOVE -->

<div class="container" style="margin-bottom: 10%; margin-top: 6%;">
  <p class="welcome">Welcome, <span>{{currentUser}}.</span></p>
  <div *ngIf="this.isShowUsers">
    <h3 class="m-4" >Users List</h3>
    <ul class="mx-4 list-group">
        <div *ngIf="currentPage == 1">
            <li class="list-group-item" *ngFor="let userSet1 of users_page_1">
                {{userSet1.first_name}} {{userSet1.last_name}} 
                <span *ngIf="userSet1.email == this.currentUserEmail" style="font-weight: 500;"> (You)</span>
            </li>
        </div>
        <div *ngIf="currentPage == 2">
            <li class="list-group-item" *ngFor="let userSet2 of users_page_2">
                {{userSet2.first_name}} {{userSet2.last_name}} 
                <span *ngIf="userSet2.email == this.currentUserEmail" style="font-weight: 500;"> (You)</span>
            </li>
        </div>
    </ul>
  </div>

  <div *ngIf="this.isShowUsers">
    <nav class="mt-4" aria-label="...">
      <ul class="pagination" style="justify-content: center;">
        <li class="page-item">
          <a class="page-link" [ngClass]="currentPage == 1? 'disabled' : ''" (click)="pageCountPre(); pageCount(page1);" tabindex="-1">Previous</a>
        </li>
        <li class="page-item" [ngClass]="currentPage == 1? 'active' : ''">
          <a class="page-link" (click)="pageCount(page1)">{{page1}}</a>
        </li>
        <li class="page-item" [ngClass]="currentPage == 2? 'active' : ''">
          <a class="page-link" (click)="pageCount(page2)">{{page2}}</a>
        </li>
        <li class="page-item" [ngClass]="currentPage == 2? 'disabled' : ''">
          <a class="page-link" (click)="pageCountNext(); pageCount(page2);">Next</a>
        </li>
      </ul>
    </nav>
  </div>

  <app-resources *ngIf="this.isShowResource"></app-resources>

  <div class="row my-4" style="align-self: center; width: fit-content; margin: auto;">
      <button class="btn btn-primary" type="button" (click)="onLogout()">Log Out</button>
  </div>
</div>

<!-- FOOTER BELOW -->
<app-footer></app-footer>