<app-header></app-header>
<!-- HEADER ABOVE -->

<div class="container" style="margin-bottom: 10%; margin-top: 6%;">
  <p class="welcome">Welcome, <span>"{{ this.checkMail | nameFromEmail | uppercase }}"</span></p>
  
  <app-userlist></app-userlist>
  <!-- <router-outlet ></router-outlet> -->
  <!-- <app-resources *ngIf="this.isShowResource"></app-resources> -->

  <div class="row my-4" style="align-self: center; width: fit-content; margin: auto;">
      <button class="btn btn-primary" type="button" (click)="onLogout()">Log Out</button>
  </div>
</div>

<!-- FOOTER BELOW -->
<app-footer></app-footer>